<div id="<%= dom_id delivery_address %>">
  <p>
    <strong>User:</strong>
    <%= delivery_address.user_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= delivery_address.address %>
  </p>

</div>
