<h1>Editing restaurant staff</h1>

<%= render "form", restaurant_staff: @restaurant_staff %>

<br>

<div>
  <%= link_to "Show this restaurant staff", @restaurant_staff %> |
  <%= link_to "Back to restaurant staffs", restaurant_staffs_path %>
</div>
