  <div class="jumbotron">
  <h1 class="display-4">About us</h1>
  <hr class="my-4">
  <p>Jesteśmy firmą restauracyjną z pasją do dostarczania wyjątkowych doświadczeń kulinaranych w zaciszu domowego ogniska. Nasza restauracja oferuje szeroki wybór smakowitych potraw, a nasza obsługa dostawy zapewnia, że nasze wyjątkowe dania trafiają prosto pod drzwi klientów, dostarczając radość i komfort w każdym posiłku. Wierzymy w jakość, świeżość i satysfakcję klienta, co sprawia, że jesteśmy idealnym wyborem dla tych, którzy pragną delektować się wykwintnym jedzeniem w zaciszu własnego domu.</p>
</div>